@page "/"
@inject NavigationManager Navigator

<PageTitle>Registrar</PageTitle>

<div class="d-flex justify-content-between align-items-center">
    <h3 class="display-6 fw-normal">Students</h3>
    <NavLink class="btn bg-body-tertiary" href="/Add">+</NavLink>
</div>

<table class="table table-striped border border-1 mt-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Type</td>
                <td>
                    @* <NavLink class="text-decoration-none" href="/register/@student.Id">Register</NavLink> *@
                    <NavLink class="text-decoration-none">Register</NavLink>
                    <p>123</p>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    
    private List<Student> students = Helper.GetStudents();


}
